.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  border-top: 1px solid #c8c8c8;
}

.container:last-child {
  border-bottom: 1px solid #c8c8c8;
}

.name {
  font-weight: bold;
}

.details {
  display: flex;
  align-items: center;
}

.time {
  margin-right: 20px;
  font-weight: bold;
}

.activeBtn {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  cursor: pointer;
}

.removeBtn {
  width: 25px;
  height: 25px;
  fill: red;
  cursor: pointer;
}

.activeColor {
  color: green;
}

.activeBg {
  background-color: #f7fdf1;
}
