.container {
  width: 50%;
  margin-bottom: 20px;
  display: flex;
  position: relative;

  @media (min-width: 360px) and (max-width: 560px) {
    width: 90%;
  }
}

.trackerField {
  width: 100%;
  padding: 12px 15px;
  border: 2px solid #888888;
  border-radius: 50px;
  outline: none;
}

.trackerField::placeholder {
  color: #c8c8c8;
  font-size: 16px;
}

.button {
  position: absolute;
  right: 0;
  width: 43px;
  height: 43px;
  fill: green;
  cursor: pointer;
}
